body {
    background-color: #393e46;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

header h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 2.5rem;
    color: #4ecca3;
    margin-bottom: 0;
}

header
{
    text-align: center;
}

header h1 {
    display: inline-block;
}

h2 {
    font-size: 2rem;
    color: #4ecca3;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0;
}

div {
    text-align: center;
}

button {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

img {
    width: 100%px;
    height: auto;
}

header p,
main p,
header #span-time {
    margin-top: 10px;
    margin-bottom: 0;
    color: #eeeeee;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

footer p {
    text-align: center;
    color: #eeeeee;
}

/* id */
header #play {
    width: 80px;
    height: 80px;
    border: 1px solid #cc914e;
    border-radius: 50%;
    background-color: #b1cc4e;
    color: white;
    font-size: 2rem;
}

#gameForm {
    display: none;
}



header #result {
    padding-bottom: 20px;
    color: #aa1a2b;

}

/* class */

.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

/* The Modal (background) */
.modal {
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /*
    height: auto; /* 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
.btn::after {
    content: attr(data-choice);
}

.btn:nth-child(3)::after {
    position: relative;
    left: -0.5em;
}

.button-submit button {
    width: 130px;
    height: 35px;
    background-color: #6c757d;
    color: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.button-submit button:hover {
    background-color: black;
}

.score-area {
    display: flex;
    text-align: center;
    justify-content: center;
}

.score-area .scores {
    padding: 10px;
}

@media screen and (max-width: 585px) {
    h1 {
        font-size: 4rem;
    }

    img {
        width: 159px;
    }

    .btn {
        margin-right: 3px;
    }

    .game-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    h2 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 280px) {
    header h1 {
        font-size: 2.75rem;
    }

    img {
        width: 100%;
    }
}
