body {
    background-color: #393E46;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
    text-align: center;
}

h2, p {
    font-size: 2rem;
    color: #4ecca3;
    font-family: 'Indie Flower', cursive;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

div {
    text-align: center;
}

button {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.btn::after {
    content: attr(data-choice);
}

.btn:nth-child(3)::after {
    position: relative;
    left: -0.5em;
}

img {
    width: 259px;
    height: 194;
}

.button-submit button {
    width: 130px;
    height: 35px;
    background-color: #6c757d;
    color: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.button-submit button:hover {
    background-color: black;
}

.score-area {
    display: flex;
    text-align: center;
    justify-content: center;
}

.score-area .scores {
    padding: 10px;
}