body {
    background-color: #393E46;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
   
}

header, h1, img{
    text-align: center;
}

h2{
    font-size: 2rem;
    color: #4ecca3;
    font-family: 'Indie Flower', cursive;
}



div {
    text-align: center;
}

button {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

img {
    width: 259px;
    height: 194;
}


p  {
    margin-top: 5%;
    color: #eeeeee;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

/* class */
.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.btn::after {
    content: attr(data-choice);
}

.btn:nth-child(3)::after {
    position: relative;
    left: -0.5em;
}



.button-submit button {
    width: 130px;
    height: 35px;
    background-color: #6c757d;
    color: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.button-submit button:hover {
    background-color: black;
}

.score-area {
    display: flex;
    text-align: center;
    justify-content: center;
}

.score-area .scores {
    padding: 10px;
}



@media screen and (max-width: 585px) {
    h1 {
        font-size: 4rem;
    }

    img {
        width: 159px;
    }

    .btn {
        margin-right: 3px;
    }

    .game-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    h2 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 280px) {
    header h1 {
        font-size: 2.75rem;
    }

    img {
        width: 100%;
    }
}